#header-color {
    background-color: #a2b9bc;
}
#top-pic{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 40%;
    border-radius: 50%;
}


.top-header {
    margin-left: 32%;
    margin-right: 25%;
}